@import '../../styles/variables';

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigationContainer {
  padding: 100px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  font-size: 27px;
  line-height: 33px;
  font-family: Rhymes, serif;
  a {
    text-decoration: none;
  }

  .navigationLinksContainer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    color: $text-secondary-default;
    a, button {
      color: $text-secondary-default;
      @media (hover: hover) {
        &:hover {
          color: $text-primary-default;
        }
      }
    }
    button {
      border: none;
      padding: 0;
      background: none;
      font-size: 27px;
      line-height: 33px;
      font-family: Rhymes, serif;
      align-self: flex-start;
      cursor: pointer;
    }
    .active {
      color: $text-primary-default;
    }



    .languageButton {
      width: 40px;
    }
  }
}

.menuContainer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(18px);
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .linksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  a, button {
    text-decoration: none;
    font-size: 42px;
    line-height: 64px;
    font-family: Rhymes, serif;
  }
  .searchButtonContainer {
    button {
      color: rgba(0, 0, 0, 0.5);
      border: none;
      padding: 0;
      background: none;
      cursor: pointer;
    }
  }
  .languageContainer {
    font-size: 22px;
    font-family: Rhymes, serif;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    color: rgba(0,0,0,0.5);
    a {
      font-size: 22px;
      font-family: Rhymes, serif;
      color: rgba(0,0,0,0.5);
    }
    .black{
      color: rgb(0,0,0);
    }
  }
  .menuClose {
    font-size: 27px;
    line-height: 33px;
    font-family: Rhymes, serif;

    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    align-self: flex-end;
    color: $text-secondary-default;

    @media (hover: hover) {
      &:hover {
        color: $text-primary-default;
      }
    }
  }
}

.footerContainer {
  text-align: center;

  .footerGradient {
    height: 70px;
    background: linear-gradient(rgba(255, 255, 255, 0), #000);
  }
  .footerContent {
    padding: 30px;
    color: white;
    background: black;
  }


}
