@import '../../styles/variables';

.exhibitionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curatorsTextContainer, .documentsContainer, .selectedWorksContainer {
  max-width: 770px;
  width: calc(100vw - 40px);

  h2 {
    @include labelSmall;
  }

  .curatorName {
    width: 100%;
    text-align: right;
    font-size: 42px;
    font-family: Rhymes, serif;
    font-weight: 400;
    color: $text-secondary-default;
  }
}


.curatorsTextContainer {
  margin-top: 24px
}

.documentsContainer{
  margin-top: 24px;
  .documents {
    display: flex;
    gap: 24px;
    margin-top: 24px;
    a {
      img {
        height: 100%;
        width: 100%;
        max-height: 300px;
        max-width: 200px;
        object-fit: contain;
        filter: drop-shadow(0 0 5px rgba(0,0,0,0.3));
        transition: 0.2s;
      }
      @media (hover: hover) {
        &:hover {
          img {
            filter: drop-shadow(0 0 10px rgba(0,0,0,0.3));
          }
        }
      }
    }
  }
}

.selectedWorksContainer{
  margin-top: 100px;
}

.allExhibitions {
  padding: 50px 0 100px 0;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  a {
    @include blackButton;
  }
}