@import '../../styles/variables';

.exhibitionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curatorsTextContainer, .documentsContainer, .selectedWorksContainer {
  max-width: 770px;
  width: calc(100vw - 40px);

  h2 {
    @include labelSmall;
  }

  .curatorName {
    width: 100%;
    text-align: right;
    font-size: 42px;
    font-family: Rhymes, serif;
    font-weight: 400;
    color: $text-secondary-default;
  }
}


.curatorsTextContainer {
  margin-top: 24px
}

.documentsContainer{
  margin-top: 24px
}

.selectedWorksContainer{
  margin-top: 100px;
}