@import '../../styles/variables';

.artistContainer {
  @include container1200px;

  h1 {
    font-size: 42px;
    font-family: Rhymes, serif;
    font-weight: 400;
    letter-spacing: 0;
  }

  h2 {
    @include labelSmall;
    margin-bottom: 16px;
  }
}

.bioContainer {
  margin-top: 50px;
  p {
    font-size: 16px;
    column-count: 3;
    column-gap: 20px;
    orphans: 7;

    @media (max-width: $breakpoint-md-max) {
      column-count: 2;
      column-gap: 16px;
    }
    @media (max-width: $breakpoint-xs-max) {
      column-count: 1;
      column-gap: 8px;
    }
  }


}


.selectedWorksContainer {
  margin-top: 100px;
  .selectedWorks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 100px;

    @media (max-width: $breakpoint-lg-max) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 16px;
    }
    @media (max-width: $breakpoint-sm-max) {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 8px;
    }

    .work {
      h3 {
        font-size: 12px;
        font-family: Rhymes, serif;
      }
      .cover {
        width: 100%;
        display: flex;
        margin-bottom: 12px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}


.exhibitionsContainer {
  margin-top: 100px;
  .exhibitions {
    @include gridCol4-1;

    .exhibition {
      text-decoration: none;
      h3 {
        font-size: 16px;
        font-family: Rhymes, serif;
        font-weight: 500;
        span {
          font-style: italic;
        }
      }
      .cover {
        width: 100%;
        height: 180px;
        display: flex;
        margin-bottom: 12px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.artistDetailsContainer {
  margin-top: 100px;
  margin-bottom: 250px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 34px;
  row-gap: 54px;

  @media (max-width: $breakpoint-md-max) {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }

  @media (max-width: $breakpoint-sm-max) {
    grid-template-columns: 1fr;
  }



  .itemsWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h2 {
      margin: 0;
    }

    .itemsContainer {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .item {
        display: flex;
        gap: 6px;
        flex-wrap: nowrap;

        .year {
          flex: 0 0 35px;
          font-size: 12px;
          font-family: Rhymes, serif;
        }
        .title {
          p {
            font-size: 12px;
            font-family: Rhymes, serif;
          }
        }
      }
    }
  }

  .itemsFlexWrapper {
    display: flex;
    flex-direction: column;
    gap: 54px;
  }

}