@import "../../styles/_variables.scss";


//.pagination {
//  position: absolute;
//  bottom: $padding * 3;
//  left: 50%;
//  transform: translate(-50%, 0);
//  color: white;
//  border-radius: $radius3;
//  height: $radius3 * 2;
//  padding: 0 15px 0 15px;
//  font-size: 14px;
//  text-align: center;
//  //background-color: black;
//}

.swiperWrapper {
  height: 100%;
  width: 100vw;

  .swiperSlide {
    user-select: none;
  }

  img {
    width: auto;
    height: 100%;

  }

  :global {
    .swiper-slide {
      width: auto !important;
    }
    .swiper-pagination {
      color: white;
      font-size: 14px;
      text-align: center;
    }
  }
}