@import '../../styles/variables';


.artworkDetailContainer {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(18px);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.artworkHeader{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  .number {
    width: 15px;
    display: inline-block;
    text-align: right;
  }
  .numberWide{
    width: 30px;
    display: inline-block;
    text-align: right;
  }
  p {
    font-size: 27px;
    line-height: 33px;
    font-family: Rhymes, serif;
  }

  margin:  20px 0 10px;
  @media (max-width: $breakpoint-md-max) {
    margin:  16px 0 10px;
  }

  .artworkClose {
    font-size: 27px;
    line-height: 33px;
    font-family: Rhymes, serif;

    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    align-self: flex-end;
    color: $text-secondary-default;

    @media (hover: hover) {
      &:hover {
        color: $text-primary-default;
      }
    }

    @media (max-width: $breakpoint-md-max) {
      line-height: 120%;
    }

    @media (max-width: $breakpoint-xs-max) {
      font-size: 18px;
    }
  }
}

.artworkOtherWorks {
  margin: 26px 0 18px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  .otherArtworkCover{
    height: 60px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
  }
}

.artworkGallery{
  position: relative;
  align-self: center;
  width: 100%;
  margin: auto 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .prev, .next, .zoomIn, .zoomOut{
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    background: none;
    border: 0;
    z-index: 1000;
    padding: 0;
  }
  .prev{
    left: 0;
    cursor: w-resize;
  }
  .next {
    right: 0;
    cursor: e-resize;
  }
  .zoomIn {
    width: 40%;
    left: 30%;
    cursor: zoom-in;
  }
  .zoomOut {
    width: 40%;
    left: 30%;
    cursor: zoom-out;
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      object-fit: contain;
      width: auto;
      max-width: 100%;


      @media (min-width: $breakpoint-sm-min) {
        height: calc(100vh - 320px);
      }

      @media (max-width: $breakpoint-xs-max) {
        height: calc(100vh - 280px);
      }
    }

    .artworkDescription {
      margin: 7px 0 16px;
      width: 100%;
      p {
        font-size: 12px;
        font-family: Rhymes, serif;

      }
      .title{
        font-style: italic;
        font-weight: 500;
      }
    }
  }

  &.artworkWithoutGallery{
    .imageContainer{
      img {
        @media (min-width: $breakpoint-sm-min) {
          height: calc(100vh - 240px);
        }

        @media (max-width: $breakpoint-xs-max) {
          height: calc(100vh - 200px);
        }

      }
    }
  }


  &.artworkGalleryZoom{
    margin: 0;

    &.artworkWithoutGallery {
      .imageContainer {
        img {
          height: calc(100vh - 80px);
          object-position: center;
        }
      }
    }

    &:not(.artworkWithoutGallery){
      .imageContainer {
        img {
          height: calc(100vh - 185px);
          object-position: center;
        }
      }
    }
  }
}


