$lh: 10px;

$breakpoint-xs-max: 575px;
$breakpoint-sm-min: 576px;
$breakpoint-sm-max: 767px;
$breakpoint-md-min: 768px;
$breakpoint-md-max: 991px;
$breakpoint-lg-min: 992px;
$breakpoint-lg-max: 1199px;
$breakpoint-xl-min: 1200px;
$breakpoint-xl-max: 1399px;
$breakpoint-xxl-min: 1400px;

$text-secondary-default: #A4A4A4;
$text-primary-default: #000;



@mixin labelSmall {
  font-size: 12px;
  font-family: NHG, -apple-system, 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 500;
  letter-spacing: 0.08em;
}


@mixin labelThin {
  font-size: 17px;
  font-family: NHG, -apple-system, 'Helvetica Neue', 'Arial', sans-serif;
  letter-spacing: 0.08em;
}