@import '_variables.scss';

.artistsContainer{
  @include gridCol4-2;
  @include container1200px;
}

.artistContainer{
  text-decoration: none;
  .cover {
    width: 100%;
    height: 340px;
    background: #e6e6e6;
    margin-bottom: 12px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: $breakpoint-md-max) {
      height: 320px;
    }

    @media (max-width: $breakpoint-sm-max) {
      height: 300px;
    }
    @media (max-width: $breakpoint-xs-max) {
      height: 220px;
    }

  }
  h2 {
    font-size: 20px;
    font-family: Rhymes, serif;
  }

}