@import '_variables.scss';

.eventContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curatorsTextContainer, .documentsContainer, .selectedWorksContainer {
  @include container770px;

  h2 {
    @include labelSmall;
    margin-bottom: 16px;
  }
}


.eventFold {
  display: flex;
  flex-direction: column;

  .eventGallery{
    margin-bottom: 20px;
    height: 50vh;
  }
}


.curatorsTextContainer {
  p {
    margin-bottom: 1.38em;
  }
}

.documentsContainer{
  margin-top: 100px;
  .documents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 24px;
    a {
      position: relative;
      left: -3px;

      img {
        height: 100%;
        width: 100%;
        max-height: 300px;
        max-width: 200px;
        object-fit: contain;
        filter: drop-shadow(0 0 5px rgba(0,0,0,0));
        transition: 0.2s;
      }
      @media (hover: hover) {
        &:hover {
          img {
            filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
          }
        }
      }
    }
  }
}

.selectedWorksContainer{
  margin-top: 100px;
  h2 {
    margin-bottom: 16px;
  }

  .selectedWorks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 100px;

    @media (max-width: $breakpoint-sm-max) {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
    }
    @media (max-width: $breakpoint-xs-max) {
      column-gap: 8px;
    }
  }
}

.allEvents {
  padding: 100px 0 100px 0;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  a {
    @include blackButton;
  }
}