@import '_variables.scss';
@import '_fonts.scss';

:root {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: NHG, -apple-system, 'Helvetica Neue', 'Arial', sans-serif;

  font-size: 16px;
  text-rendering: optimizeLegibility;
  line-height: 1.38;
  color: black;
}



html,
body {
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  color: black;
}

body {
  -webkit-overflow-scrolling: touch;
  height: auto;
  overflow: scroll;
  max-width: 100vw;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  //background: white;
  background: white;
  position: relative;
}

a {
  color: black;
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-size: 1em;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  font-size: 20px;
  font-family: Rhymes, serif;
}

figure {
  margin: 0
}

